<h1>Student Form</h1>
<form>
<input type="string" id="first_name" name="student[first_name]">
<input type="string" id="last_name" name="student[last_name]">
<input type="submit" value="Submit Student">